a {
    text-decoration: none;
}

body {
    background-color: rgb(240, 240, 240);
}

#cabecalho{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.figura{
    text-align: center;
}

#reset{
    background: black;
    --bs-btn-color:white;
    border:none;
    --bs-btn-padding-y: 0.500rem;
    --bs-btn-hover-color: rgb(185, 177, 181);
    --bs-btn-focus-shadow-rgb:black;
}